
	<!DOCTYPE html>
<html  itemscope itemtype="" lang="vi" prefix="og: http://ogp.me/ns#">

    
    <head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no">
	<title>So sánh </title>

	<link rel="shortcut icon" href="https://www.sore.vn/public/images/favicon.ico?v=1.60" />
	<link type="text/css" rel="stylesheet" href="https://www.sore.vn/public/css/global.css?v=1.60" media="screen" />
		<link type="text/css" rel="stylesheet" href="https://www.sore.vn/public/css/home.css?v=1.60" media="screen" />
	<link type="text/css" rel="stylesheet" href="https://www.sore.vn/public/css/responsives.css?v=1.60" media="screen" />
	
	<script src="https://www.sore.vn/public/js/FE/jquery-1.9.1.min.js?v=1.60"></script>

	<script>
            (function (i, s, o, g, r, a, m) {
                i['GoogleAnalyticsObject'] = r;
                i[r] = i[r] || function () {
                    (i[r].q = i[r].q || []).push(arguments)
                }, i[r].l = 1 * new Date();
                a = s.createElement(o),
                        m = s.getElementsByTagName(o)[0];
                a.async = 1;
                a.src = g;
                m.parentNode.insertBefore(a, m)
            })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');

            ga('create', 'UA-60680169-1', 'auto');
            ga('send', 'pageview');
	</script>
    </head>
    
    <body class="sore-style homepage">
	<!-- homepage -->
<div class="home-section">
    <div id="topScroll">&nbsp;</div>
	<h1 style="color:#0000FF; text-align:center "><b>WEB SO SÁNH</b></h1>
    <div class="logo"><img src="Image/sosanh.png"/></div>
    <div class="block-search-wrap">
	<div class="block-search">
	    <form name="searchForm" id="searchForm" method="POST" action="https://www.sore.vn/submitSuggestion" onSubmit="return submitSearch();">
		<input type="search" name="txt_Keyword" value="" id="txt_Keyword" maxlength="256" dir="auto" placeholder="Bạn cần mua gì?" autocomplete="off" />
		<input type="hidden" id="h_suggest_id" name="h_suggest_id" value="">
		<input type="hidden" id="h_suggest_type" name="h_suggest_type" value="">
		<input type="hidden" id="h_suggest_url" name="h_suggest_url" value="">
		<input type="hidden" name="isPost" value="1">
		<input type="hidden" name="currentURL" value="https://www.sore.vn/index.php">
		<button type="submit" id="searchSubmit" style="color:blue"><svg class="icon icon-search2"><use xlink:href="#icon-search2"></use></svg></button>
	    </form>
	</div>
    </div>

    <div class="block-slide-txt">
	<div class="slide-txt" id="slide-txt">
	    <div class="txt"><p><b>sosanh.ga</b> liên tục cập nhật giá cả, sản phẩm mới</p></div>
	    <div class="txt"><p><b>sosanh.vn</b> giúp bạn so sánh các sản phẩm khác nhau</p></div>
	    <div class="txt"><p><h1>so sánh giá rẻ nhất và tìm giá rẻ nhất tại <b>sosanh.vn</b></h1></p></div>
	    <div class="txt"><p><b>sosanh.vn</b> cung cấp cho bạn thông tin đa chiều về sản phẩm</p></div>
	</div>
    </div>
    <div class="block-padding"></div>
    <div class="block-ralative">
	<div class="suggestion_keywords"> <div class='tl'>Có thể bạn quan tâm:</div><a href="">tủ lạnh</a><a href="">Xe đạp</a><a href="">Máy in HP</a><a href="">Máy sấy</a><a href="">ô tô</a><a href="">Cân điện tử</a><a href="">Vòng cổ Elizabeth</a><a href="">mặt nạ</a><a href="">Quần jean nữ</a><a href="">Dán cường lực</a> </div>
    </div>
    <div class="block-bg-bot">
	<div class="block-category">
	    <div class="title show">
		<svg class="icon icon-arrow-right2"><use xlink:href="#icon-arrow-right2"></use></svg>
		<h2><span>So sánh giá theo danh mục</span></h2>
		<svg class="icon icon-arrow-left2"><use xlink:href="#icon-arrow-left2"></use></svg>
	    </div>
	    <div class="cate-content mobile-cate">
		<ul><li><a href="" title="Điện thoại, Máy tính bảng"><span class='icon-cate dien-thoai-may-tinh-bang'></span>Điện thoại, Máy tính bảng</a>
		</li><li><a href="" title="Tivi, Video, Âm thanh"><span class='icon-cate tivi-video-am-thanh'></span>Tivi, Video, Âm thanh</a></li>
		<li><a href="" title="Thiết bị văn phòng"><span class='icon-cate thiet-bi-van-phong'></span>Thiết bị văn phòng</a></li>
		<li><a href="" title="Máy tính, laptop"><span class='icon-cate may-tinh-laptop'></span>Máy tính, laptop</a></li>
		<li><a href="" title="Máy ảnh, kỹ thuật số"><span class='icon-cate may-anh-ky-thuat-so'></span>Máy ảnh, kỹ thuật số</a></li>
		<li><a href="" title="Điện lạnh"><span class='icon-cate dien-lanh'></span>Điện lạnh</a></li>
		<li><a href="" title="Gia dụng"><span class='icon-cate gia-dung'></span>Gia dụng</a></li>
		<li><a href="" title="Mẹ và bé"><span class='icon-cate me-va-be'></span>Mẹ và bé</a></li>
		<li><a href="" title="Thời trang, mỹ phẩm, thể thao"><span class='icon-cate thoi-trang-my-pham-the-thao'></span>Thời trang, mỹ phẩm, thể thao</a></li>
		<li><a href="" title="Đồ dùng nhà bếp"><span class='icon-cate do-dung-nha-bep'></span>Đồ dùng nhà bếp</a></li>
		<li><a href="" title="Sức khỏe, y tế"><span class='icon-cate suc-khoe-y-te'></span>Sức khỏe, y tế</a></li>
		<li><a href="" title="An ninh"><span class='icon-cate an-ninh'></span>An ninh</a></li>
		<li><a href="" title="Dịch vụ, sửa chữa, bảo trì"><span class='icon-cate dich-vu-sua-chua-bao-tri'></span>Dịch vụ, sửa chữa, bảo trì</a></li>
		<li><a href="" title="Nội thất, Ngoại thất, VLXD"><span class='icon-cate noi-that-ngoai-that-vlxd'></span>Nội thất, Ngoại thất, VLXD</a></li>
		<li><a href="" title="Thiết bị điện, điện tử, dụng cụ cơ khí"><span class='icon-cate thiet-bi-dien-dien-tu-dung-cu-co-khi'></span>Thiết bị điện, điện tử, dụng cụ cơ khí</a></li>
		<li><a href="" title="Ô tô, xe máy, xe đạp"><span class='icon-cate o-to-xe-may-xe-dap'></span>Ô tô, xe máy, xe đạp</a></li>
		<li><a href="" title="Cây trồng, vật nuôi"><span class='icon-cate cay-trong-vat-nuoi'></span>Cây trồng, vật nuôi</a></li>
		<li><a href="" title="Sách, tranh, quà tặng"><span class='icon-cate sach-tranh-qua-tang'></span>Sách, tranh, quà tặng</a></li>
		</ul>	    
		</div>
	    <div class="cate-content tablet-cate">
		<ul><li><a href="" title="Điện thoại, Máy tính bảng"><span class='icon-cate dien-thoai-may-tinh-bang'></span>Điện thoại, Máy tính bảng</a></li>
		<li><a href="" title="Tivi, Video, Âm thanh"><span class='icon-cate tivi-video-am-thanh'></span>Tivi, Video, Âm thanh</a></li>
		<li><a href="" title="Thiết bị văn phòng"><span class='icon-cate thiet-bi-van-phong'></span>Thiết bị văn phòng</a></li>
		<li><a href="" title="Máy tính, laptop"><span class='icon-cate may-tinh-laptop'></span>Máy tính, laptop</a></li>
		<li><a href="" title="Máy ảnh, kỹ thuật số"><span class='icon-cate may-anh-ky-thuat-so'></span>Máy ảnh, kỹ thuật số</a></li>
		<li><a href="" title="Điện lạnh"><span class='icon-cate dien-lanh'></span>Điện lạnh</a></li>
		<li><a href="" title="Gia dụng"><span class='icon-cate gia-dung'></span>Gia dụng</a></li>
		<li><a href="" title="Mẹ và bé"><span class='icon-cate me-va-be'></span>Mẹ và bé</a></li>
		<li><a href="" title="Thời trang, mỹ phẩm, thể thao"><span class='icon-cate thoi-trang-my-pham-the-thao'></span>Thời trang, mỹ phẩm, thể thao</a></li>
		<li><a href="" title="Đồ dùng nhà bếp"><span class='icon-cate do-dung-nha-bep'></span>Đồ dùng nhà bếp</a></li>
		<li><a href="" title="Sức khỏe, y tế"><span class='icon-cate suc-khoe-y-te'></span>Sức khỏe, y tế</a></li>
		<li><a href="" title="An ninh"><span class='icon-cate an-ninh'></span>An ninh</a></li>
		<li><a href="" title="Dịch vụ, sửa chữa, bảo trì"><span class='icon-cate dich-vu-sua-chua-bao-tri'></span>Dịch vụ, sửa chữa, bảo trì</a></li>
		<li><a href="" title="Nội thất, Ngoại thất, VLXD"><span class='icon-cate noi-that-ngoai-that-vlxd'></span>Nội thất, Ngoại thất, VLXD</a></li>
		<li><a href="" title="Thiết bị điện, điện tử, dụng cụ cơ khí"><span class='icon-cate thiet-bi-dien-dien-tu-dung-cu-co-khi'></span>Thiết bị điện, điện tử, dụng cụ cơ khí</a></li>
		<li><a href="" title="Ô tô, xe máy, xe đạp"><span class='icon-cate o-to-xe-may-xe-dap'></span>Ô tô, xe máy, xe đạp</a></li>
		<li><a href="" title="Cây trồng, vật nuôi"><span class='icon-cate cay-trong-vat-nuoi'></span>Cây trồng, vật nuôi</a></li>
		<li><a href="" title="Sách, tranh, quà tặng"><span class='icon-cate sach-tranh-qua-tang'></span>Sách, tranh, quà tặng</a></li>
		</ul>	
		</div>
	    <div class="cate-content desktop-cate">
		<ul><li><a href="" title="Điện thoại, Máy tính bảng"><span class='icon-cate dien-thoai-may-tinh-bang'></span>Điện thoại, Máy tính bảng</a></li>
		<li><a href="" title="Tivi, Video, Âm thanh"><span class='icon-cate tivi-video-am-thanh'></span>Tivi, Video, Âm thanh</a></li>
		<li><a href="" title="Thiết bị văn phòng"><span class='icon-cate thiet-bi-van-phong'></span>Thiết bị văn phòng</a></li>
		<li><a href="" title="Máy tính, laptop"><span class='icon-cate may-tinh-laptop'></span>Máy tính, laptop</a></li>
		<li><a href="" title="Máy ảnh, kỹ thuật số"><span class='icon-cate may-anh-ky-thuat-so'></span>Máy ảnh, kỹ thuật số</a></li>
		<li><a href="" title="Điện lạnh"><span class='icon-cate dien-lanh'></span>Điện lạnh</a></li>
		<li><a href="" title="Gia dụng"><span class='icon-cate gia-dung'></span>Gia dụng</a></li>
		<li><a href="" title="Mẹ và bé"><span class='icon-cate me-va-be'></span>Mẹ và bé</a></li>
		<li><a href="" title="Thời trang, mỹ phẩm, thể thao"><span class='icon-cate thoi-trang-my-pham-the-thao'></span>Thời trang, mỹ phẩm, thể thao</a></li>
		<li><a href="" title="Đồ dùng nhà bếp"><span class='icon-cate do-dung-nha-bep'></span>Đồ dùng nhà bếp</a></li>
		<li><a href="" title="Sức khỏe, y tế"><span class='icon-cate suc-khoe-y-te'></span>Sức khỏe, y tế</a></li>
		<li><a href="" title="An ninh"><span class='icon-cate an-ninh'></span>An ninh</a></li>
		<li><a href="" title="Dịch vụ, sửa chữa, bảo trì"><span class='icon-cate dich-vu-sua-chua-bao-tri'></span>Dịch vụ, sửa chữa, bảo trì</a></li>			        <li><a href="" title="Nội thất, Ngoại thất, VLXD"><span class='icon-cate noi-that-ngoai-that-vlxd'></span>Nội thất, Ngoại thất, VLXD</a></li>        <li><a href="" title="Thiết bị điện, điện tử, dụng cụ cơ khí"><span class='icon-cate thiet-bi-dien-dien-tu-dung-cu-co-khi'></span>Thiết bị điện, điện tử, dụng cụ cơ khí</a></li>
		<li><a href="" title="Ô tô, xe máy, xe đạp"><span class='icon-cate o-to-xe-may-xe-dap'></span>Ô tô, xe máy, xe đạp</a></li>
		<li><a href="" title="Cây trồng, vật nuôi"><span class='icon-cate cay-trong-vat-nuoi'></span>Cây trồng, vật nuôi</a></li>
		<li><a href="" title="Sách, tranh, quà tặng"><span class=''></span>Sách, tranh, quà tặng</a></li>
		</ul>	   
		 </div>
	</div>
    </div>
</div>


<div class="block-promotion-home">
    <div class="home-container">
	<div class="s-title">
	    <a href="https://www.sore.vn/tin-khuyen-mai">Xem tất cả khuyến mãi <svg class="icon icon-a_next"><use xlink:href="#icon-a_next"></use></svg></a>
	    <span>khuyến mãi mới nhất</span>
	</div>
	<div class="promotion-home">
	    		    <div class="boxs-promotion grid-item">
			<a class="boxs" target="_blank" title="Ưu đãi đặc biệt, giảm giá 20%"
			   href="https://www.sore.vn/den-trang-tin?href=http%3A%2F%2Fgo.masoffer.net%2Fv0%2Fvntrip%2Fherochip%2F%3Fgo%3Dhttps%253A%252F%252Fwww.vntrip.vn%252F%253Fmo_proid%253D5b06654d87ab88dc2b8b4567"
			   data-href="http://go.masoffer.net/v0/vntrip/herochip/?go=https%3A%2F%2Fwww.vntrip.vn%2F%3Fmo_proid%3D5b06654d87ab88dc2b8b4567" >
			    <div class="img">
				<img class="imglazy" alt="Ưu đãi đặc biệt, giảm giá 20%" data-original="https://image.sore.vn/promotion/image/201805/1527145573_df68bdfe93d3400c71935412559725ee_79347.png" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsQAAA7EAZUrDhsAAAANSURBVBhXYzh8+PB/AAffA0nNPuCLAAAAAElFTkSuQmCC" />
				<div class="expire">
				    				</div>
			    </div>
			    <h2 class="tl">Ưu đãi đặc biệt, giảm giá 20%</h2>
			    <div class="desc">Siêu giảm giá 20% không giới hạn cho top khách sạn tại vntrip.vn</div>
			    <div class="cont">
				    </div>

			</a>
		    </div>
				    <div class="boxs-promotion grid-item">
			<a class="boxs" target="_blank" title="Hot deals chỉ từ 30,000/ngày cho làn da căng mịn"
			   href="https://www.sore.vn/den-trang-tin?href=http%3A%2F%2Fgo.masoffer.net%2Fv0%2Fyes24%2Fherochip%2F%3Fgo%3Dhttps%253A%252F%252Fwww.yes24.vn%252Fnghe-vien-micell-km705600.html%253Fmo_proid%253D5ad473742f4500a28a8b4567"
			   data-href="http://go.masoffer.net/v0/yes24/herochip/?go=https%3A%2F%2Fwww.yes24.vn%2Fnghe-vien-micell-km705600.html%3Fmo_proid%3D5ad473742f4500a28a8b4567" >
			    <div class="img">
				<img class="imglazy" alt="Hot deals chỉ từ 30,000/ngày cho làn da căng mịn" data-original="https://image.sore.vn/promotion/image/201804/1523872542_c373f9943e4d76b3da8e03f2f6f36061_31093.png" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsQAAA7EAZUrDhsAAAANSURBVBhXYzh8+PB/AAffA0nNPuCLAAAAAElFTkSuQmCC" />
				<div class="expire">
				    				</div>
			    </div>
			    <h2 class="tl">Hot deals chỉ từ 30,000/ngày cho làn da căng mịn</h2>
			    <div class="desc">Hot deals chỉ từ 30,000/ngày cho làn da căng mịn</div>
			    <div class="cont">
				    </div>

			</a>
		    </div>
				    <div class="boxs-promotion grid-item">
			<a class="boxs" target="_blank" title="Mỗi 2h bất ngời - Deal mới flash sale"
			   href="https://www.sore.vn/den-trang-tin?href=http%3A%2F%2Fgo.masoffer.net%2Fv0%2Flazada%2Fherochip%2F%3Fgo%3Dhttps%253A%252F%252Fwww.lazada.vn%252Fpages%252Fi%252Fvn%252Fact%252Flp-flash-sale%253Fmo_proid%253D5ac4441687ab88ed5a8b4567"
			   data-href="http://go.masoffer.net/v0/lazada/herochip/?go=https%3A%2F%2Fwww.lazada.vn%2Fpages%2Fi%2Fvn%2Fact%2Flp-flash-sale%3Fmo_proid%3D5ac4441687ab88ed5a8b4567" >
			    <div class="img">
				<img class="imglazy" alt="Mỗi 2h bất ngời - Deal mới flash sale" data-original="https://image.sore.vn/promotion/image/201804/1522811844_bbde41a5e3eff9ef348e8c3dd7a50690_14223.jpg" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsQAAA7EAZUrDhsAAAANSURBVBhXYzh8+PB/AAffA0nNPuCLAAAAAElFTkSuQmCC" />
				<div class="expire">
				    				</div>
			    </div>
			    <h2 class="tl">Mỗi 2h bất ngời - Deal mới flash sale</h2>
			    <div class="desc">Mỗi 2h bất ngời - Deal mới flash sale</div>
			    <div class="cont">
				    </div>

			</a>
		    </div>
				    <div class="boxs-promotion grid-item">
			<a class="boxs" target="_blank" title="Oto xe máy &amp; phụ kiện ưu đãi đến 30%"
			   href="https://www.sore.vn/den-trang-tin?href=http%3A%2F%2Fgo.masoffer.net%2Fv0%2Flazada%2Fherochip%2F%3Fgo%3Dhttps%253A%252F%252Fali.lazada.vn%252Fwow%252Fi%252Fvn%252FVNCampaign%252Foto-xe-may-deal-qua-tang%253Fhybrid%253D1%2526mo_proid%253D5ac444b287ab888d548b4568"
			   data-href="http://go.masoffer.net/v0/lazada/herochip/?go=https%3A%2F%2Fali.lazada.vn%2Fwow%2Fi%2Fvn%2FVNCampaign%2Foto-xe-may-deal-qua-tang%3Fhybrid%3D1%26mo_proid%3D5ac444b287ab888d548b4568" >
			    <div class="img">
				<img class="imglazy" alt="Oto xe máy & phụ kiện ưu đãi đến 30%" data-original="https://image.sore.vn/promotion/image/201804/1522811974_5a8eab136e5ab7c2910a6521e17a4db8_25349.jpg" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsQAAA7EAZUrDhsAAAANSURBVBhXYzh8+PB/AAffA0nNPuCLAAAAAElFTkSuQmCC" />
				<div class="expire">
				    				</div>
			    </div>
			    <h2 class="tl">Oto xe máy & phụ kiện ưu đãi đến 30%</h2>
			    <div class="desc">Oto xe máy & phụ kiện ưu đãi đến 30% cùng với nhiều quà tặng hấp dẫn</div>
			    <div class="cont">
				    </div>

			</a>
		    </div>
				    <div class="boxs-promotion grid-item">
			<a class="boxs" target="_blank" title="Voucher hot ưu đãi khủng"
			   href="https://www.sore.vn/den-trang-tin?href=http%3A%2F%2Fgo.masoffer.net%2Fv0%2Flazada%2Fherochip%2F%3Fgo%3Dhttps%253A%252F%252Fali.lazada.vn%252Fwow%252Fi%252Fvn%252FVNCampaign%252Fkhuyen-mai%253Fmo_proid%253D5ac4455687ab88a6548b4568"
			   data-href="http://go.masoffer.net/v0/lazada/herochip/?go=https%3A%2F%2Fali.lazada.vn%2Fwow%2Fi%2Fvn%2FVNCampaign%2Fkhuyen-mai%3Fmo_proid%3D5ac4455687ab88a6548b4568" >
			    <div class="img">
				<img class="imglazy" alt="Voucher hot ưu đãi khủng" data-original="https://image.sore.vn/promotion/image/201804/1522812172_efb07d98a3b8e0b359eaf5c83ae39f5a_42804.jpg" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsQAAA7EAZUrDhsAAAANSURBVBhXYzh8+PB/AAffA0nNPuCLAAAAAElFTkSuQmCC" />
				<div class="expire">
				    				</div>
			    </div>
			    <h2 class="tl">Voucher hot ưu đãi khủng</h2>
			    <div class="desc">Voucher hot ưu đãi khủng duy nhất tại Lazada</div>
			    <div class="cont">
				    </div>

			</a>
		    </div>
				    <div class="boxs-promotion grid-item">
			<a class="boxs" target="_blank" title="Bay cùng AloTrip, nhận E-voucher thỏa thích mua sắm tại Nhật!  "
			   href="https://www.sore.vn/den-trang-tin?href="
			   data-href="" >
			    <div class="img">
				<img class="imglazy" alt="Bay cùng AloTrip, nhận E-voucher thỏa thích mua sắm tại Nhật!  " data-original="https://image.sore.vn/promotion/image/201804/1522746405_9f556c5b023c3ce82e57589cdb4d9326_58137.png" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsQAAA7EAZUrDhsAAAANSURBVBhXYzh8+PB/AAffA0nNPuCLAAAAAElFTkSuQmCC" />
				<div class="expire">
				    				</div>
			    </div>
			    <h2 class="tl">Bay cùng AloTrip, nhận E-voucher thỏa thích mua sắm tại Nhật!  </h2>
			    <div class="desc">Bay cùng AloTrip, nhận E-voucher thỏa thích mua sắm tại Nhật!</div>
			    <div class="cont">
				    </div>

			</a>
		    </div>
		
	</div>
    </div>
</div>

<!--intro-home-->
<div class="block-intro-home intro-cate">
    <div class="container">
	<article>
	    <h2>SoSanh.ga - So sánh giá rẻ và tìm nơi bán hàng</h2>

<p>Chào mừng bạn đến với sore.vn. Đây là website miễn phí giúp bạn <strong>tìm sản phẩm</strong>, <strong>so sánh giá rẻ</strong> các sản phẩm, mặt hàng và cửa hàng với nhau trên khắp cả nước. Mọi thông tin như giá cả các sản phẩm điện máy, điện thoại, đồ điện tử, điện lạnh, kỹ thuật số, thiết bị văn phòng, viễn thông, gia dụng, mẹ và bé, thời trang, ... được thống kê giá một cách chính xác nhất từ các nhà bán lẻ lớn, nhỏ tại Việt Nam.</p>

<p>Việc quyết định mua hàng không chỉ phụ thuộc vào giá cả. Website <em>so sánh giá </em>Sorẻ hướng đến các thông tin quan trọng về sản phẩm, cửa hàng hay nhà bán hàng, gần hay xa khu vực địa lý để bạn có thể quyết định mua hàng một cách dễ dàng hơn cùng nhiều thông tin khuyến mãi, mã giảm giá, quà tặng kèm (nếu có).</p>

<p><em>Web so sánh</em> SoSanh.ga ngày càng được sự quan tâm của người dùng. Chính vì thế, mọi ý kiến đóng góp khách quan đều góp phần thành công cho Sorẻ.vn</p>	</article>
    </div>
</div>
<!--end-->
<script type="application/ld+json">
    {
    "@context": "http://schema.org",
    "@type": "WebSite",
    "name" : "SoRẻ",
    "alternateName": "So sánh giá rẻ",
    "url": "http://www.sore.vn",
    "potentialAction": {
    "@type": "SearchAction",
    "target": "http://www.sore.vn/s/{inputFilter}",
    "query-input": "required name=inputFilter"
    }
    }
</script>

<footer id="footer" class="footer home footer-home">
    <div class="content_footer container">
	<div class="copyright">
	    <span class="footer-title">CÔNG TY CP SO SANH.GA</span>
	    <p class="footer-address">MS: 0314066756 - Email: contact@sosanh.ga </p>
	    <p class="footer-address"> ĐC: Khu phố 6, phường Linh Trung, Quận Thủ Đức, TPHCM</p>
	    	</div>
	<div class="foot-mid">        
	    <a class="extend-a" href="">Quy chế hoạt động</a>
	    <a class="extend-a" href="">Chính sách bảo mật</a>
	    <a class="extend-a" href="">Giải quyết tranh chấp</a>
	</div>  
	<div class="foot-mid">
	    <a class="extend-a reg" href="" title="Đưa sản phẩm lên website">Đưa sản phẩm lên </a>
	    <a class="extend-a" href="" title="Đối tác liên hệ">
		Đối tác liên hệ            </a>
            <a class="change-version" href="" title="Xem phiên bản Mobile">Phiên bản Mobile</a>
	</div>
	<div class="foot-right">

	</div>
    </div>

</footer>
<div id="scroll-top">
    <svg class="icon icon-a_next">
    <use xlink:href="#icon-a_next"></use>
    </svg>
</div>
<div class="overlay-modal-alert"></div>
<div id="overlay_page"></div>
<div class="ajax-loading"></div>
<div class="section-warning">
    <div class="content"></div>
</div>
<div id="fb-root"></div>
<!-- box product adv -->
<div id="advProduct"></div>


    <script>
        $(document).ready(function () {
    	/* slide text */
    	$('#slide-txt').owlCarousel({
    	    items: 1,
    	    nav: false,
    	    dots: true,
    	    autoplay: true,
    	    lazyLoad: true,
    	    autoplayHoverPause: true,
    	    loop: true,
    	    margin: 0,
    	    navText: ['', ''],
    	    stagePadding: 0
    	});
        });
    </script>
<script>
    (function (d, s, id) {
	var js, fjs = d.getElementsByTagName(s)[0];
	if (d.getElementById(id))
	    return;
	js = d.createElement(s);
	js.id = id;
	js.src = "//connect.facebook.net/en_GB/sdk.js#xfbml=1&version=v2.8";
	fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));

</script>

	<script  src="https://www.sore.vn/public/js/FE/suggestSearch.js?v=1.60"></script>
	
	  <!--<script  src=""></script>-->

		<script>
            var js_url = "";
            var img_url = "";
	</script>
	    	<script>
                $(document).ready(function () {
                    var mid = 0;
                    if ($('#h_modelid').length) {
                        mid = $('#h_modelid').val();
                    }
                    ajaxLoadViewedHistory(mid);
                });
    	</script>

	
	<script src="https://www.sore.vn/public/js/FE/placeholderTypewriter.js?v=1.60"></script>
	<script>
            /* Placeholder Typewriter */
            var placeholderText = [
                "Bạn muốn mua gì?",
                "iPhone X 64GB?",
                "Samsung Galaxy A9 Pro?",
                "Samsung Galaxy A9?",
                "iPhone 7 32GB?",
                "Oppo Neo 9 (Oppo A37)?",
                "Nhập thông tin sản phẩm bạn cần tìm?"
            ];
            $('#txt_Keyword').placeholderTypewriter({text: placeholderText});
	</script>
    </body>
</html>
