[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "2.31.0"
beautifulsoup4 = "4.12.2"
flask = "3.0.0"

[dev-packages]

[requires]
python_version = "3.10"
python_full_version = "3.10.7"
