{% extends 'base.html' %}


{% block content %}

<div class="container">

    <div class="row">
        <div class="col-md-3 col-sm-6">
            <div class="product-grid4">
                <div class="product-image4">
                    <a href="#">
                        <img class="pic-1" src="https://cdn.tgdd.vn/Products/Images/42/106211/samsung-galaxy-note8-black-400x460.png">                        
                    </a>                    
                    <!-- <span class="product-new-label">New</span> -->
                    <span class="product-discount-label">-5%</span>
                </div>
                <div class="product-content">
                    <h3 class="title"><a href="#">Điện thoại Samsung Galaxy Note 8</a></h3>
                    <div class="price">
                        11.990.000₫&nbsp;
                        <span>14.990.000₫</span>
                    </div>
                    <ul class="rating">
                            <li class="fa fa-star"></li>
                            <li class="fa fa-star"></li>
                            <li class="fa fa-star"></li>
                            <li class="fa fa-star"></li>
                            <li class="fa fa-star disable"></li>
                        </ul>
                </div>
            </div>
        </div>

        <div class="col-md-3 col-sm-6">
                <div class="product-grid4">
                        <div class="product-image4">
                            <a href="#">
                                <img class="pic-1" src="https://cdn.tgdd.vn/Products/Images/42/106211/samsung-galaxy-note8-black-400x460.png">                        
                            </a>                    
                            <!-- <span class="product-new-label">New</span> -->
                            <span class="product-discount-label">-5%</span>
                        </div>
                        <div class="product-content">
                            <h3 class="title"><a href="#">Điện thoại Samsung Galaxy Note 8</a></h3>
                            <div class="price">
                                11.990.000₫&nbsp;
                                <span>14.990.000₫</span>
                            </div>
                            <ul class="rating">
                                    <li class="fa fa-star"></li>
                                    <li class="fa fa-star"></li>
                                    <li class="fa fa-star"></li>
                                    <li class="fa fa-star"></li>
                                    <li class="fa fa-star disable"></li>
                                </ul>
                        </div>
                    </div>
                </div>        

            <div class="col-md-3 col-sm-6">
                    <div class="product-grid4">
                        <div class="product-image4">
                            <a href="#">
                                <img class="pic-1" src="https://cdn.tgdd.vn/Products/Images/42/106211/samsung-galaxy-note8-black-400x460.png">                        
                            </a>                    
                            <!-- <span class="product-new-label">New</span> -->
                            <span class="product-discount-label">-5%</span>
                        </div>
                        <div class="product-content">
                            <h3 class="title"><a href="#">Điện thoại Samsung Galaxy Note 8</a></h3>
                            <div class="price">
                                11.990.000₫&nbsp;
                                <span>14.990.000₫</span>
                            </div>
                            <ul class="rating">
                                    <li class="fa fa-star"></li>
                                    <li class="fa fa-star"></li>
                                    <li class="fa fa-star"></li>
                                    <li class="fa fa-star"></li>
                                    <li class="fa fa-star disable"></li>
                                </ul>
                        </div>
                    </div>
                </div>

                <div class="col-md-3 col-sm-6">
                        <div class="product-grid4">
                            <div class="product-image4">
                                <a href="#">
                                    <img class="pic-1" src="https://cdn.tgdd.vn/Products/Images/42/106211/samsung-galaxy-note8-black-400x460.png">                        
                                </a>                    
                                <!-- <span class="product-new-label">New</span> -->
                                <span class="product-discount-label">-5%</span>
                            </div>
                            <div class="product-content">
                                <h3 class="title"><a href="#">Điện thoại Samsung Galaxy Note 8</a></h3>
                                <div class="price">
                                    11.990.000₫&nbsp;
                                    <span>14.990.000₫</span>
                                </div>
                                <ul class="rating">
                                        <li class="fa fa-star"></li>
                                        <li class="fa fa-star"></li>
                                        <li class="fa fa-star"></li>
                                        <li class="fa fa-star"></li>
                                        <li class="fa fa-star disable"></li>
                                    </ul>
                            </div>
                        </div>
                    </div>
    </div>
</div> <br><br>
<div class="container">

        <div class="row">
            <div class="col-md-3 col-sm-6">
                <div class="product-grid4">
                    <div class="product-image4">
                        <a href="#">
                            <img class="pic-1" src="https://cdn.tgdd.vn/Products/Images/42/106211/samsung-galaxy-note8-black-400x460.png">                        
                        </a>                    
                        <!-- <span class="product-new-label">New</span> -->
                        <span class="product-discount-label">-5%</span>
                    </div>
                    <div class="product-content">
                        <h3 class="title"><a href="#">Điện thoại Samsung Galaxy Note 8</a></h3>
                        <div class="price">
                            11.990.000₫&nbsp;
                            <span>14.990.000₫</span>
                        </div>
                        <ul class="rating">
                                <li class="fa fa-star"></li>
                                <li class="fa fa-star"></li>
                                <li class="fa fa-star"></li>
                                <li class="fa fa-star"></li>
                                <li class="fa fa-star disable"></li>
                            </ul>
                    </div>
                </div>
            </div>
    
            <div class="col-md-3 col-sm-6">
                    <div class="product-grid4">
                            <div class="product-image4">
                                <a href="#">
                                    <img class="pic-1" src="https://cdn.tgdd.vn/Products/Images/42/106211/samsung-galaxy-note8-black-400x460.png">                        
                                </a>                    
                                <!-- <span class="product-new-label">New</span> -->
                                <span class="product-discount-label">-5%</span>
                            </div>
                            <div class="product-content">
                                <h3 class="title"><a href="#">Điện thoại Samsung Galaxy Note 8</a></h3>
                                <div class="price">
                                    11.990.000₫&nbsp;
                                    <span>14.990.000₫</span>
                                </div>
                                <ul class="rating">
                                        <li class="fa fa-star"></li>
                                        <li class="fa fa-star"></li>
                                        <li class="fa fa-star"></li>
                                        <li class="fa fa-star"></li>
                                        <li class="fa fa-star disable"></li>
                                    </ul>
                            </div>
                        </div>
                    </div>        
    
                <div class="col-md-3 col-sm-6">
                        <div class="product-grid4">
                            <div class="product-image4">
                                <a href="#">
                                    <img class="pic-1" src="https://cdn.tgdd.vn/Products/Images/42/106211/samsung-galaxy-note8-black-400x460.png">                        
                                </a>                    
                                <!-- <span class="product-new-label">New</span> -->
                                <span class="product-discount-label">-5%</span>
                            </div>
                            <div class="product-content">
                                <h3 class="title"><a href="#">Điện thoại Samsung Galaxy Note 8</a></h3>
                                <div class="price">
                                    11.990.000₫&nbsp;
                                    <span>14.990.000₫</span>
                                </div>
                                <ul class="rating">
                                        <li class="fa fa-star"></li>
                                        <li class="fa fa-star"></li>
                                        <li class="fa fa-star"></li>
                                        <li class="fa fa-star"></li>
                                        <li class="fa fa-star disable"></li>
                                    </ul>
                            </div>
                        </div>
                    </div>
    
                    <div class="col-md-3 col-sm-6">
                            <div class="product-grid4">
                                <div class="product-image4">
                                    <a href="#">
                                        <img class="pic-1" src="https://cdn.tgdd.vn/Products/Images/42/106211/samsung-galaxy-note8-black-400x460.png">                        
                                    </a>                    
                                    <!-- <span class="product-new-label">New</span> -->
                                    <span class="product-discount-label">-5%</span>
                                </div>
                                <div class="product-content">
                                    <h3 class="title"><a href="#">Điện thoại Samsung Galaxy Note 8</a></h3>
                                    <div class="price">
                                        11.990.000₫&nbsp;
                                        <span>14.990.000₫</span>
                                    </div>
                                    <ul class="rating">
                                            <li class="fa fa-star"></li>
                                            <li class="fa fa-star"></li>
                                            <li class="fa fa-star"></li>
                                            <li class="fa fa-star"></li>
                                            <li class="fa fa-star disable"></li>
                                        </ul>
                                </div>
                            </div>
                        </div>
        </div>
    </div> <br><br>



{% endblock %}