{% extends 'base.html' %}

{% block head %}
{{ super() }}
{% include "styledssp.html" %}

{% endblock %}

{% block content %}

{% include "header.html" %}
<div class="container-fluid" style="margin: 90px 0px 20px 0px">
    {% if data|length != 0 %}
    <h3>Hiển thị {{data|length}} trong {{max_data}} kết quả tìm kiểm</h3>
    <div class="row">
        {% for item in data %}
        <div class="col-md-3 col-sm-6">
            <div class="product-grid4">
                <div class="product-image4">
                    <a href="" class="product" data="{{item}}">
                        <img class="pic-1" src="{{item['image']}}">
                    </a>
                </div>
                <div class="product-content">
                    <h3 class="title"><a href="" class="product" data="{{item}}">{{item['name']}}</a></h3>
                    <div class="price">
                        {{item['compare'][0]['price']}}&nbsp;
                        <span>{{ item['compare'][0]['delprice'] if item['compare'][0]['delprice'] != ''}}</span>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
    <div class="row">
        <div class="col-md-6 col-lg-offset-3">
            <ul class="pagination pagination-large">
                {% for i in range(1, max_page + 1) %}
                {%if(i == page)%}
                <li class="active"><a href="" class="change_page">{{i}}</a></li>
                {% else %}
                <li><a href="" class="change_page">{{i}}</a></li>
                {% endif %}
                {% endfor %}
            </ul>
        </div>
    </div>
    {% else %}
    <h3>không tìm thấy kết quả nào</h3>
    {% endif %}
</div>
{% endblock %}

{% block script %}
<script>
    $('.product').click(function (e) {
        e.preventDefault();
        $.ajax({
            type: 'POST',
            url: "/sanpham",
            data: JSON.stringify({ data: $(this).attr('data') }),
            contentType: 'application/json',
            success: function (response) {
                document.write(response);
            }
        })
    })
</script>
<script>
    $.urlParam = function (name) {
        var results = new RegExp('[\?&]' + name + '=([^&#]*)').exec(window.location.href);
        return results[1] || 0;
    }
    $('.change_page').click(function (e) {
        $(this).attr('href', '/timkiem?page=' + $(this).text() + '&keyword=' + $.urlParam('keyword'));
    })
</script>
{% endblock %}