
		<footer id="myFooter">
        <div class="container">
            <div class="row">
                <div class="col-sm-3 myCols">
                    <h5>SOSANH.GA</h5>
                    <ul>
                        <li><a href="#">Ð?a ch?: KP6, phu?ng Linh Trung, qu?n Th? Ð?c, TPHCM</a></li>
                        <li><a href="#">S? di?n tho?i: 028274152</a></li>
                        <li><a href="#">Email: sosanh.ga@gmail.com</a></li>
                    </ul>
                </div>
                <div class="col-sm-3 myCols">
                    <h5>Gi?i thi?u</h5>
                    <ul>
                        <li><a href="#">SOSANH.GA</a></li>
                        <li><a href="#">Liên l?c v?i chúng tôi</a></li>
                        <li><a href="#">So lu?c</a></li>
                    </ul>
                </div>
                <div class="col-sm-3 myCols">
                    <h5>Chính sách</h5>
                    <ul>
                        <li><a href="#">B?o m?t</a></li>
                        <li><a href="#">Gi?i quy?t tranh ch?p</a></li>
                        <li><a href="#">Quy d?nh</a></li>
                    </ul>
                </div>
                <div class="col-sm-3 myCols">
                    <h5>Ðua s?n ph?m lên</h5>
                    <ul>
                        <li><a href="#">Ð?i tác liên h?</a></li>
                        <li><a href="#"></a></li>
                        <li><a href="#"></a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="social-networks">
            <a href="#" class="twitter"><i class="fa fa-twitter"></i></a>
            <a href="#" class="facebook"><i class="fa fa-facebook-official"></i></a>
            <a href="#" class="google"><i class="fa fa-google-plus"></i></a>
        </div>
        <div class="footer-copyright">
            <p>© 2016 Copyright Text </p>
        </div>
    </footer>
