
		<footer id="myFooter">
        <div class="container">
            <div class="row">
                <div class="col-sm-3 myCols">
                    <h5>SOSANH.GA</h5>
                    <ul>
                        <li><a href="#">Địa chỉ: KP6, phường Linh Trung, quận Thủ Đức, TPHCM</a></li>
                        <li><a href="#">Số điện thoại: 028274152</a></li>
                        <li><a href="#">Email: sosanh.ga@gmail.com</a></li>
                    </ul>
                </div>
                <div class="col-sm-3 myCols">
                    <h5>Giới thiệu</h5>
                    <ul>
                        <li><a href="#">SOSANH.GA</a></li>
                        <li><a href="#">Liên lạc với chúng tôi</a></li>
                        <li><a href="#">Sơ lược</a></li>
                    </ul>
                </div>
                <div class="col-sm-3 myCols">
                    <h5>Chính sách</h5>
                    <ul>
                        <li><a href="#">Bảo mật</a></li>
                        <li><a href="#">Giải quyết tranh chấp</a></li>
                        <li><a href="#">Quy định</a></li>
                    </ul>
                </div>
                <div class="col-sm-3 myCols">
                    <h5>Đưa sản phẩm lên</h5>
                    <ul>
                        <li><a href="#">Đối tác liên hệ</a></li>
                        <li><a href="#"></a></li>
                        <li><a href="#"></a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="social-networks">
            <a href="#" class="twitter"><i class="fa fa-twitter"></i></a>
            <a href="#" class="facebook"><i class="fa fa-facebook-official"></i></a>
            <a href="#" class="google"><i class="fa fa-google-plus"></i></a>
        </div>
        <div class="footer-copyright">
            <p>© 2016 Copyright Text </p>
        </div>
    </footer>
