<nav class="navbar navbar-dark fixed-top justify-content-between" style="background-color: #373A48">
    <a class="navbar-brand" href="/">
        <img src="{{ url_for('static', filename='img/logo.PNG') }}" height="50" alt="" style="margin: 0px auto" >
    </a>
    <form class="form-inline" method="GET" action="/timkiem">
        <input class="form-control mr-sm-2" type="search" name="keyword" placeholder="Bạn cần tìm sản phẩm gì?" aria-label="Search">
        <a class="btn btn-outline-success my-2 my-sm-0" style="color:azure" type="submit">Tìm kiếm</a>
    </form>
</nav>