{% extends 'base.html' %}

{% block head %}
{{ super() }}
{% include "style.html" %}

{% endblock %}

{% block content %}
<div class="s006">
  <form>
    <div class="slogan">SOSANH.ga</div>
    <div class="slogan1">Giá tốt nhất cho bạn</div>
    <br>
    <fieldset>
      <div class="inner-form">
        <div class="input-field">
          <button class="btn btn-search" type="button">
            <i class="fa fa-search" style="color: azure"></i>
          </button>
          <input id="search" class="input-search search" type="text" placeholder="Bạn cần tìm điện thoại gì?..." value="" />
        </div>
      </div>
    </fieldset>
  </form>
</div>
{% endblock %}

{% block script %}
{{ super() }}
{% endblock %}