{% extends 'base.html' %}

{% block content %}
<div class="container"> 
     <div class="card"> 
      <div class="container-fliud"> 
       <div class="wrapper row"> 
        <div class="preview col-md-6"> 
         <div class="preview-pic tab-content"> 
          <div class="tab-pane active" id="pic-1"><img src="../static/img/dienthoai_1.jpg" alt="">
          </div> 
          <div class="tab-pane" id="pic-2"><img src="../static/img/dienthoai_1.jpg" alt="">
          </div> 
          <div class="tab-pane" id="pic-3"><img src="../static/img/dienthoai_1.jpg" alt="">
          </div> 
          <div class="tab-pane" id="pic-4"><img src="../static/img/dienthoai_1.jpg" alt="">
          </div> 
          <div class="tab-pane" id="pic-5"><img src="../static/img/dienthoai_1.jpg" alt="">
          </div> 
         </div> 
         <ul class="preview-thumbnail nav nav-tabs"><div class="logo_menuchinh" style="float:left; padding-top:5px; padding-left:10px; color:#fff; margin-left:auto; margin-right:auto; text-align=center; line-height:40px; font-size:16px;font-weight:bold;font-family:Arial"></div><div class="menu-icon"><span></span></div> 
          <li class="active"><a data-target="#pic-1" data-toggle="tab"><img src="../static/img/dienthoai_1.jpg" alt=""></a>
          </li> 
          <li><a data-target="#pic-2" data-toggle="tab"><img src="../static/img/dienthoai_1.jpg" alt=""></a>
          </li> 
          <li><a data-target="#pic-3" data-toggle="tab"><img src="../static/img/dienthoai_1.jpg" alt=""></a>
          </li> 
          <li><a data-target="#pic-4" data-toggle="tab"><img src="../static/img/dienthoai_1.jpg" alt=""></a>
          </li> 
          <li><a data-target="#pic-5" data-toggle="tab"><img src="../static/img/dienthoai_1.jpg" alt=""></a>
          </li> 
         </ul> 
        </div> 
        <div class="details col-md-6"> 
         <h2 class="product-title" style="color: darkblue; size: 40px;"><b>iPhone Xs Max 64GB</b> </h2> 
         <div class="rating"> 
          <div class="stars"> <span class="fa fa-star checked"></span> <span class="fa fa-star checked"></span> <span class="fa fa-star checked"></span> <span class="fa fa-star"></span> <span class="fa fa-star"></span> 
          </div> <span class="review-no">123 đánh giá</span> 
         </div> 
         <p class="product-description">Trong hộp có: Sạc, Tai nghe, Sách hướng dẫn, Cáp, Cây lấy sim<br>
        Bảo hành chính hãng 12 tháng<br>
        1 đổi 1 trong 1 tháng nếu lỗi<br>
        Hàng chính hãng<br>
        Giao hàng miễn phí toàn quốc trong 60 phút<br>
        iPhone Xs Max 64GB là chiếc iPhone có màn hình lớn nhất từ trước đến nay, mang đến những trải nghiệm tuyệt vời về màn hình và thời lượng pin.
        Màn hình lớn 6,5 inch chuẩn Super Retina siêu sắc nét
iPhone Xs Max 64GB có màn hình vượt trội so với mọi thế hệ iPhone trước đây khi lớn tới 6,5 inch, được làm từ tấm nền OLED, hỗ trợ hiển thị HDR. 
HDR mang đến màu sắc chính xác, màu đen có chiều sâu, độ sáng và độ tương phản tuyệt vời. 
Bạn sẽ được tận hưởng một màn hình cực lớn, độ phân giải siêu cao 2688 x 1242 pixels cho trải nghiệm xem đáng kinh ngạc.
iPhone Xs Max 64GB được hoàn thiện từ những vật liệu đặc biệt, đó là viền thép không gỉ sáng bóng và mặt kính bền nhất trong thế giới smartphone. Kỹ thuật gia công chính xác hoàn hảo của Apple mang đến chiếc điện thoại cứng cáp, thời trang, vừa vặn trong lòng bàn tay bạn. Ba màu sắc thời thượng Xám không gian, Bạc và Vàng cho những lựa chọn cá tính. Đặc biệt, hai phiên bản màu Vàng và Xám được sơn bằng quá trình xử lý màu PVD, tạo hiệu ứng ánh sáng qua lớp kính rất đẹp mắt.
</p> 
         <h4 class="price">Giá bán: 4.000.000 đ</h4> 
         <p class="vote"><strong>91%</strong> of người mua hài lòng với sản phẩm này <strong>(87 bình chọn)</strong>
         </p> 
         <div class="action"> <a href="https://www.thegioididong.com/" target="_blank">            <button class="add-to-cart btn btn-default" type="button">Đi đến trang mua hàng</button>            </a> <a href="http://hocwebgiare.com/" target="_blank">            <button class="like btn btn-default" type="button"><span class="fa fa-heart"></span></button>            </a> 
         </div> 
        </div> 
       </div> 
      </div> 
     </div>
    </div> 
    
    	
{% endblock %}

