{% extends 'base.html' %}

{% block head%}

{{ super() }}
<style>
	a.list-group-item {
		height: auto;
		min-height: 220px;
	}

	a.list-group-item.active small {
		color: #fff;
	}

	.stars {
		margin: 20px auto 1px;
	}
</style>
{% endblock %}

{% block content %}
{% include "header.html" %}
<div class="container" style="margin-top: 90px">
	<div class="row">
		<div class="col-12 row w-100">
			<div class="card">
				<div class="card-body row">
					<div class="col-md-6 col-sm-12">
						<img src="{{image}}" width="120px" />
					</div>
					<div class="col-md-6 col-sm-12">
						<h4>{{ name }}</h4>
						<div>
							{{shops[0]["Mô tả ngắn"]}}
						</div>
					</div>
				</div>
			</div>
		</div>

	</div>

	<div class="row">

	</div>
</div>

{% endblock %}

{% block script %}
{{ super() }}
<script>
	console.log('{{data}}')
</script>
{% endblock %}