{% extends 'base.html' %}

{% block content %}

    <table >
		<tr>
			<th>Tên cửa hàng</th>
			<th>FPT</th>
			<th>Thế giới di động</th>
			<th>Viễn thông A</th>
		</tr>
		<tr>
			<th>Hình ảnh sản phẩm</th>
			<td><img src="../static/img/dienthoai.jpg"/></td>
			<td><img src="../static/img/dienthoai.jpg"/></td>
			<td><img src="../static/img/dienthoai.jpg"/></td>
		</tr>
		<tr>
			<th>Mô tả</th>
			<td>FPT</td>
			<td>Thế giới di động</td>
			<td>Viễn thông A</td>
		</tr>
		<tr>
			<th>Giá</th>
			<td>4000000</td>
			<td>4000000</td>
			<td>4000000</td>
		</tr>
		<tr>
			<th>Bảo hành</th>
			<td>12 tháng</td>
			<td>12 tháng</td>
			<td>12 tháng</td>
		</tr>
		<tr>
			<th>Khuyến mãi</th>
			<td>Tặng sạc dự phòng</td>
			<td>Tặng ốp lưng</td>
			<td>Tặng sạc dự phòng</td>
		</tr>
		<tr>
			<th></th>
			<td style="text-align:center"><button>Xem thêm</button></td>
			<td style="text-align:center"><button>Xem thêm</button></td>
			<td style="text-align:center"><button>Xem thêm</button></td>
		</tr>
		<tr>
			<th>Gợi ý mua hàng</th>
			<td colspan="3">Cửa hàng ... có giá tốt nhất</td>
		</tr>
	</table>	
{% endblock %}